// Rename/copy this file to "secrets.hpp" and replace the strings with your settings

namespace Config {

static constexpr const char* NAME = ;

namespace Secrets {

static constexpr const char* WIFI_SSID = ;
static constexpr const char* WIFI_PASSWORD = ;
static constexpr const char* BROKER_ADDR = ;

static constexpr const char* MQTT_USER = ;
static constexpr const char* MQTT_PASSWORD = ;

}
}
