// Rename/copy this file to "secrets.hpp" and replace the strings with your settings

#define WIFI_SSID "SSID HERE"
#define WIFI_PASSWORD "WIFI PASSWORD HERE"
#define BROKER_ADDR "BROKER ADDRESS HERE"

#define MQTT_USER "MQTT USER HERE"
#define MQTT_PASSWORD "MQTT PASSWORD"
